body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #f5f5f5; /* Fundo cinza claro */
    padding: 25px;
    width: 300px;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-top: 10px;
}

.formulario input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #45a049;
}
