body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

/* Fundo escuro semitransparente */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* Caixa central */
.modal-conteudo {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* Botões */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
}

button:hover {
    background-color: #1976D2;
}
