body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topo {
    background-color: blue;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    background-color: gray;
    height: 350px;
    padding: 20px;
}

.rodape {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
